body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
}

.container{
    text-align: center;
}

.container h3{
    background-color: burlywood;
    color: chocolate;
    padding:10px;
    margin:10px;
    border-radius: 5px;
}

.color {
    font-weight: bold;
    font-size: 20px;
    color: aquamarine;

}

.btn{
    font-weight:bold;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    background-color: indianred;
}

.btn:hover{
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: burlywood;
    background-color: blanchedalmond;
    transition: all 0.3;

}